

.app {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     text-align: center;
     padding: 20px;
     color: #fff;
     background-size: cover;
     font-family: 'DS-Digital', sans-serif;
}

.bg1{
    background-image: url(/images/img.webp);
}

.bg2{
    
    background-image: url(/images/img2.webp);
}

.bg3{
    
    background-image: url(/images/img3.webp);
}

.bg4{
    
    background-image: url(/images/img4.webp);
}

.bg5{
    
    background-image: url(/images/img5.webp);
}

.bg6{
    
    background-image: url(/images/img6.webp);
}

.bg7{
    
    background-image: url(/images/img7.webp);
}

/* imgs finales */

.vg1 {
    position: absolute;
    background-image: url(/images/planet.png);
    background-size: cover;
    border-radius: 100px 0px 0px 0px;
    width: 200px;
    height: 75px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.vg2 {
    position: absolute;
    background-image: url(/images/jupiter.png);
    background-size: cover;
    border-radius: 100px 0px 0px 0px;
    width: 200px;
    height: 75px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.vg3 {
    position: absolute;
    background-image: url(/images/planets.png);
    background-size: cover;
    border-radius: 100px 0px 0px 0px ;
    width: 230px;
    height: 90px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.vg4 {
    position: absolute;
    background-image: url(/images/earth.png);
    background-size: cover;
    border-radius: 100px 0px 0px 0px ;
    width: 200px;
    height: 75px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

